<menu class="pq-menu">
  <div class="left">
    {{#link-to 'welcome' tagName="h1"}}
      <a>Flowformer</a>
    {{/link-to}}
  </div>
  <div class="right">
    {{link-to "History" 'history'}}
    <nav class="pq pq-nav-dropdown">
      <a href="">menu</a>
      <ul>
        <li>
          <a href="http://timezoneslider.com/">timezoneslider<i class="fa fa-angle-right"></i></a>
        </li>
        <li>
          <a href="http://plasmiq.com/">plasmiq<i class="fa fa-angle-right"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</menu>
<div class="pq-content">
  {{outlet}}
</div>
<footer class="pq-footer">
  <a href="http://plasmiq.com">About</a>
  <a href="http://plasmiq.com">Feedback</a>
  <a class="right" href="http://plasmiq.com">Powered by Plasmiq</a>
</footer>