<div>
	<span class="text">
		<strong>FLOWFORMER</strong><span class="trademark">BETA</span>
		<i>What one thing do you want help with today?</i>
	</span>
	<a id="plasmiq_logo" href="http://plasmiq.com" target="_blank"></a>
</div>