type: {{task_type}}
<hr/>
is Completed? {{completed}}
<hr/>
<a {{action startAgain}} class="welldone_button"></a>
<div id="footer">
	<div>
		<strong>FLOWFORMER&trade;</strong>
		<i>What one thing do you want help with today?</i>
	</div>
</div>