<div class="info">
	<div class="left">
		<div id="flowformer"></div>
		<p>
			<span id="twitter-follow">
				<a href="https://twitter.com/flowformers" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @flowformers</a>
			</span>
			<span id="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://flowformer.com" data-text="Checkout this free daily task timer and focus app - Flowformer.com" data-hashtags="productivity,gtd,lifehack">Tweet</a>
			</span>
		</p>
	</div>
	<div class="right">
		<p><strong>A free daily task timer and focus app to assist you in getting one thing done (or not done) each day.</strong></p>

		<p><em>Flowformer</em> lets you enter a <strong>single task</strong> as a short sentence that you <strong>agree to complete</strong> (or avoid) over a 24 hour period.</p>

		<p>The timer begins and everything in <em>Flowformer</em> is locked down and there's no backing out. You will have 24 hours to <em>succeed</em> or <em>fail</em>.</p>

		<p>Every time you visit <em>Flowformer</em> over the 24 hour time slot your task will be displayed as a <strong>fullscreen reminder</strong>.</p>

		<p>Best of luck, you're gonna <strong>love the simplicity of discipline</strong>.</p>

	</div>
</div>