<h2>Hello <input type="text" value="chrmod"></input>, today will be over in 8:12:34</h2>
<h3>Quickly, choose what will form your focus until tomorrow:</h3>

<div {{action createDoTask}} class="big-button color-z">
	MUST DO
  <span class="icon">
    <i class="fa fa-check"></i>
  </span>
</div>

<br/>
<br/>

<div {{action createDontTask}} class="big-button color-y">
	DONT DO
  <span class="icon">
    <i class="fa fa-times"></i>
  </span>
</div>
