<a {{action createDoTask}} id="top" class="container">
	<div class="vertical">
		<img src="/assets/action_button.png"/>
		<span>MUST DO</span>
	</div>
</a>
<div id="middle" class="container">
	<strong>FLOWFORMER&trade;</strong>
	<i>What one thing do you want help with today?</i>
</div>
<a {{action createDontTask}} id="bottom" class="container">
	<div class="vertical">
		<img src="/assets/action_button.png"/>
		<span>DONT DO</span>
	</div>
</a>