/* GENERAL */
#footer {
	font-size: 1em;
	height: 3em;
	line-height: 3em;
	background-color: black;
	color: white;
	width: 100%;
}

#footer strong {
	font-weight: 800;
}

#footer i {
	font-size: 0.666666667em;
	margin-left: 10px;
	position: relative;
	top: -3px;
	font-weight: 600;
}

#footer .trademark {
	font-size: 0.4em;
	position: relative;
	bottom: 1.05em;
	font-weight: normal;
	font-style: italic;
}

#footer #plasmiq_logo {
	display: none;
}

#footer.with_logo #plasmiq_logo {
	display: inline-block;
	background-image: url("/assets/powered_by_plasmiq.png");
	width: 169px;
	height: 45px;
	float: right;
	position: relative;
	top: 0.75em;
}

/* WELCOME */

.welcome #footer {
	position: absolute;
	top: 50%;
	z-index: 100;
	margin-top: -1.5em;
}

.welcome #footer div {
	text-align: center;
}

/* TASK */

.task #footer {
	position: fixed;
	bottom: 0px;
	background-color: black;
	width: 100%;
	color: white;
}

.task #footer div {
	margin: 0 1em;
	text-align: left;
}

.task #footer .text {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}