.history {
	background-color: black;
	height: 100%;
	width: 100%;
	position:absolute;
	color: white;
}
.history .welcomeicon {
	width: 22px;
	height: 20px;
	display: block;
	margin-left: 20px;
	margin-top: 20px;
	background: url("home_button.png") 0 0;
}

.history .welcomeicon:hover {
	background-position: 22px 0;
}

.history .month {
	width: 300px;
	float: left;

}

.history .right.row {
  background-color: #009d9b;
  padding-left: 10%;
  padding-right: 5%;
}

.history .text {
  padding-left: 52px;
  background: url('/assets/quotemark.png') no-repeat;
}

.history .completed-at {
  border-bottom: 2px solid #fff;
}

.history .sub-row {
  float: left;
  width: 45%;
  text-align: center;
}

.history .sub-row .content {
  width: 185px;
  margin: auto;
}

.history .month-view a {
  display: block;
  float: left;
  height: 22px;
  width: 22px;
  background-color: #414141;
  overflow: hidden;
  margin-left: 8px;
  font-size: 15px;
}

.history .month-view a.disabled {
  background-color: #414141;
}

.history .month-view a.empty {
  height: 18px;
  width: 18px;
  border: 2px solid #414141;
  background-color: black;
}

.history .month-view a.smile {
  height: 22px;
  width: 22px;
  color: #fff;
}

.history .month-view a.smile.dodo {
  background-color: #009d9b;
}

.history .month-view a.smile.dontdo {
  background-color: #ff2f53;
}

.history .month-view .day-name {
  font-size: 14px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 10px;
  margin-left: 8px;
}

