#header {
	height: 1.5em;
	line-height: 1.5em;
	font-size: 1.1em;
	color: red;
	font-family: 'Open Sans';
	font-weight: 800;
	position: absolute;
	top: 0px;
	width: 100%;
}

#clock {
	background-color: white;
	height: 100%;
}

#timer {
	padding-right: 20px;
	color: white;
	float: left;
}

.dontdo #timer {
	background-color: #009d9b;
}

.dodo #timer {
	background-color: #ff2f53;	
}

#shadow {
	height: 0.25em; 
	width: 100%;
	background-color: black;
	position: absolute;
	top: 1.5em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

.task {
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}

.task.dodo {
	background-color: #009d9b;
}

.task.dontdo {
	background-color: #ff2f53;
}

#task {
	position: relative;
	width: 70%;
	margin: 0 auto;
	margin-top: 170px;
}

.quote {
	font-size: 120pt;
	font-family: Georgia;
	font-weight: bold;
	color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	position: absolute;
	top: -30px;
	width: 100px;
	left: -90px;
}

.task textarea {
	display: block;
	font-family: "Open Sans";
	font-weight: 800;
	background-color: transparent;
	border: 0px;
	color: white;
	resize: none; 
	overflow: hidden;
	outline: none;
	font-size: 50pt;
	line-height: 1.25em;
	height: 2.6em;
	width: 100%;
}


:-moz-placeholder {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

.me {
	font-size: 36pt;
	font-family: "Open Sans";
	font-weight: 600;
	font-style: italic;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	color: white;
	text-align: left;
}

#compleated {
	height: 155px;
	width: auto;
	position: absolute;
	top: 20px;
	right: 50px;
}
#compleated p {
	float: left;
	color: white;
	font-size: 24pt;
	line-height: 1.15em;
	text-align: right;
	margin: 40px 20px 0 0;
}

.dodo .yes {
	background-image: url("/assets/mustdo_yes_success_button.png");
	height: 155px;
	width: 156px;
	display: inline-block;
}
.dodo .no {
	background-image: url("/assets/mustdo_no_fail_button.png");
	width: 104px;
	height: 105px;
	display: inline-block;
	position: relative;
	top: -23px;
	left: -20px;
}

.dontdo .yes {
	background-image: url("/assets/dontdo_yes_fail_button.png");
	width: 104px;
	height: 105px;
	position: relative;
	top: -23px;
	display: inline-block;
}
.dontdo .no {
	background-image: url("/assets/dontdo_no_success_button.png");
	height: 155px;
	width: 156px;
	display: inline-block;
	position: relative;
	left: -20px;
}

.agree_button {
	clear: both;
	background-image: url("/assets/agree_button.png");
	width: 170px;
	height: 61px;
	display: block;
	margin: 20px auto 0;
}

.welldone_button {
	clear: both;
	background-image: url("/assets/returnhome_button.png");
	width: 293px;
	height: 61px;
	display: block;
	margin: 20px auto 0;
}