#header {
	height: 1.5em;
	line-height: 1.5em;
	font-size: 1.2em;
	color: red;
	font-family: 'Open Sans';
	font-weight: 800;
	position: absolute;
	top: 0px;
	width: 100%;
}

#clock {
	background-color: white;
	height: 100%;
}

#timer {
	color: white;
	text-align: left;
	float: left;
	height: 100%;
}

#timer span {
	margin-left: 10px;
	margin-right: 10px;
}

.dontdo #timer {
	background-color: #009d9b;
}

.dodo #timer {
	background-color: #ff2f53;	
}

#shadow {
	height: 0.3em; 
	width: 100%;
	background-color: black;
	position: absolute;
	top: 1.5em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

/* task */

.task {
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}

.task.dodo {
	background-color: #009d9b;
}

.task.dontdo {
	background-color: #ff2f53;
}

#task {
	position: relative;
	width: 70%;
	margin: 0 auto;
	margin-top: 170px;
}

.quote {
	background-image: url("/assets/quotemark.png");
	height: 42px;
	width: 53px;
	position: absolute;
	top: 0px;
	left: -65px;
}

.task textarea {
	display: block;
	font-family: "Open Sans";
	font-weight: 800;
	background-color: inherit;
	border: 0px;
	color: white;
	resize: none; 
	overflow: hidden;
	outline: none;
	font-size: 5em;
	line-height: 1.25em;
	height: 2.6em;
	width: 100%;
}


::-webkit-input-placeholder {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
	-moz-opacity: 0.15;
	-khtml-opacity: 0.15;
	opacity: 0.15;
	color: white;
}

:-ms-input-placeholder {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
	-moz-opacity: 0.15;
	-khtml-opacity: 0.15;
	opacity: 0.15;
}

:-moz-placeholder {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
	-moz-opacity: 0.15;
	-khtml-opacity: 0.15;
	opacity: 0.15;
}

.me {
	font-size: 2.7em;
	top: 5em;
	font-family: "Open Sans";
	font-weight: 600;
	font-style: italic;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	color: white;
	text-align: left;
	position: absolute;
}

/* compelted widget */

#compleated {
	height: 155px;
	width: auto;
	position: absolute;
	top: 20px;
	right: 50px;
}

#compleated p {
	float: left;
	color: white;
	font-size: 24pt;
	line-height: 1.15em;
	text-align: right;
	margin: 40px 20px 0 0;
}

.dodo .yes {
	background-image: url("/assets/mustdo_yes_success_button.png");
	height: 155px;
	width: 156px;
	display: inline-block;
}
.dodo .no {
	background-image: url("/assets/mustdo_no_fail_button.png");
	width: 104px;
	height: 105px;
	display: inline-block;
	position: relative;
	top: -23px;
	left: -20px;
}

.dontdo .yes {
	background-image: url("/assets/dontdo_yes_fail_button.png");
	width: 104px;
	height: 105px;
	position: relative;
	left: -20px;
	top: 23px;
	display: inline-block;
	z-index: 5;
	float: right;
}
.dontdo .no {
	background-image: url("/assets/dontdo_no_success_button.png");
	height: 155px;
	width: 156px;
	display: inline-block;
	float: left;	
}

/* buttons */

.buttons {
	position: absolute;
	top: 6em;
	font-size: 3em;
	width: 100%;
	text-align: center;
}

.button {
	clear: both;
	height: 61px;
	display: block;
	margin: 0 auto;
}

.agree_button {
	background-image: url("/assets/agree_button.png");
	width: 170px;
}

.welldone_button {
	background-image: url("/assets/returnhome_button.png");
	width: 293px;
}

/* completed */

.is100 #timer {
	width: 100%;
}

.completed textarea {
	line-height: 1em;
	height: 1.3em; /* dont ask me why thats works.. */
}

.dodo.completed_true textarea, .dontdo.completed_false textarea {
	font-size: 10em;
}

.dodo.completed_false textarea, .dontdo.completed_true textarea {
	font-size: 9em;
}