.welcome {
  padding-bottom: 80px;

  h2, h3 {
    text-align: center;
  }
  h2 {
    font-weight: 600;
    color: #DFDFDF;
    margin: 40px 0 0 0;
    input {
      background-color: transparent;
      border: 0px;
      color: inherit;
      font-size: 1em;
      width: 200px;
      border-bottom: 1px solid #4C4C4C;
      text-align: center;
    }
  }
  h3 {
    margin-top: 10px;
    font-weight: 300;
    color: #BCBCBC;
  }
}