.container {
	width: 100%;
	position:fixed;
	text-align:center;
	display: block;
	color: white;
	font-weight: 800;
	font-size: 2.5em;
}
#top {
	height: 50%;
	background-color: #009d9b;
	top: 0px;
	cursor: pointer;
}
#top:hover {
	background-color: #00c841;
}
#top .vertical {
	margin-top: -1.15em;				
}
#bottom {
	height: 50%;
	background-color: #ff2f53;
	bottom: 0px;
	cursor: pointer;
}

#bottom:hover {
	background-color: #ff0833;
}
#bottom .vertical {
	margin-top: -0.5em;
}
.vertical {
	position: absolute;
	top: 50%;
	width: 100%;
	line-height: 1.5em;
	height: 1.5em;
}

.vertical img {
	height: 1.5em;
	vertical-align: middle;
}

.vertical span {
	vertical-align: middle;
}

.infoicon {
	display: block;
	width: 38px;
	height: 38px;
	background: url("info_button.png");
	position: absolute;
	margin-top: -19px;	
	top: 50%;
	z-index: 120;
	right: 20px;
}
.infoicon:hover {
	background-position: -38px 0;
}
.fancybox-overlay {
	overflow: hidden !important;
}