<!DOCTYPE html>
<html>
	<head>
	  <title>Flowformer.com - A free focus tool to help you get one thing done or not done each day.</title>
	  <meta name="description" content="Flowformer - What one thing do you need some help with today? A free focus tool to help you get one thing done or not done each day." />
  	<meta name="keywords" content="productivity, gtd, getting things done, getting shit done, time management, time, to do, to do list, free, web app, get stuff done, focus tools, tool, free productivity software, online productivity tools" />
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,800' rel='stylesheet' 
		type='text/css'>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
	  <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26904869-8']);
		  _gaq.push(['_setDomainName', 'flowformer.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body>

		<%= yield %>

	</body>
</html>
